* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 50%;
  height: auto;
}

html,
body {
  background-image: url('/assets/images/background-desktop.png');
  /* background-size: cover; */
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 24px;
  font-family: monospace;
  color: #ffffff;
  overflow: hidden;
}

.bg-img {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.circle-bg {
  display: block;
  align-items: flex-start;
  position: absolute;
  top: -10%;
  left: 2%;
  width: 10%;
  z-index: 0;
}

.circle-bottom-right {
  position: absolute;
  width: 7%;
  bottom: 30%;
  right: 35%;
  z-index: 0;
}

.squiggly-bg {
  position: absolute;
  top: 6%;
  left: 87%;
  width: 25%;
  height: auto;
  transform: translateX(-50%); /* keeps it centered */
  z-index: 0;
}
.squiggly-bg-bottom {
  position: absolute;
  top: 54%;
  left: 20%;
  width: 50%;
  transform: translateX(-50%);
  z-index: 0;
}

.circle-bg,
.circle-bottom-right,
.lines-bg,
.squiggly-bg,
.squiggly-bg-bottom {
  pointer-events: none; /* ✅ prevents blocking inputs/buttons */
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 0;
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.logo {
  width: 25%;
}

.head-text {
  font-family: monospace;
  font-size: 14px;
}

.head-text p {
  font-size: 14px;
}

.text2 {
  font-family: monospace;
  font-size: 14px;
  color: #908fa1;
  font-weight: 500;
}

.form-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  font-family: monospace;
  font-size: 10px;
}

.upload-box img {
  max-width: 50%;
  max-height: 50%;
  border-radius: 8px;
  cursor: pointer;
}

.upload-img {
  /* border: black solid 1px; */
  padding: 5px;
  background: rgba(255, 255, 255, 0.05);
  width: 35px;
  margin-bottom: 5px;
}

.upload-box {
  position: relative;
  border: 2px dashed #504d6c;
  border-radius: 12px;
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  text-align: center;
  background: rgba(255, 255, 255, 0.05);
}

.p {
  font-size: 10px;
  padding-bottom: 2px;
}

.upload-box:hover {
  background: #393556;
  cursor: pointer;
}

.upload-box:focus {
  outline: none;
  border-color: #504d6c;
  background: #241a4d;
  box-shadow: 0 0 0 3px #504d6c; /* soft glow */
}

input[type='file'] {
  display: none;
}

.form-actions {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}
#file-actions button {
  background: #1c163c;
  color: #908fa1;
  border: none;
  padding: 8px 12px;
  border-radius: 7px;
  font-family: monospace;
  font-size: 12px;
}

#name:hover {
  cursor: pointer;
  background: #393556;
}

.form-group input:focus {
  outline: none; /* removes the default blue outline */
  /* border-color: #504d6c; highlight border (matches your button color) */
  background: #241a4d; /* slightly lighter/darker background */
  box-shadow: 0 0 0 2px #504d6c; /* soft glow */
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

#preview {
  max-width: 100%;
  max-height: 100%;
  border-radius: 8px;
  object-fit: cover; /* makes it fill nicely */
}

#preview-text {
  font-family: monospace;
  color: #908fa1;
  font-size: 12px;
  /* padding-top: 5px; */
}

.text-hint {
  font-family: monospace;
  color: #f67464;
  font-size: 10px;
  display: flex;
  align-items: center;
  gap: 7px;
  margin-top: 2px;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-self: start;
  gap: 7px;
}

.form-group input {
  border-radius: 7px;
  padding: 10px;
  background: #1c163c;
  width: 23rem;
  border: 1px solid #504d6c;
  font-family: monospace;
}

.form-group label {
  font-family: monospace;
  font-size: 12px;
}

.error {
  color: #ff5c5c;
  font-size: 14px;
  margin-top: 4px;
  display: block;
}

input:invalid {
  border-color: #ff5c5c;
}

.contact-button {
  width: 100%;
  background: #f67464;
  color: #150826;
  border-radius: 10px;
  padding: 10px;
  font-size: 12px;
  font-family: monospace;
  font-weight: bold;
}

.contact-button:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.contact-button:focus {
  outline: none;
  border: 3px solid #f67464;
  box-shadow: 0 0 0 3px rgba(246, 116, 100, 0.5);
}

.display-data {
  width: 90%;
  max-width: 800px;
  padding: 1rem;
  margin: auto;
  position: relative;
  z-index: 20;
}
.logo-full {
  width: 12%;
}

.headings {
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

/* .display-data .logo {
  margin: 0 auto 2rem auto;
} */

.display-data .logo1 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  padding: 10px;
}

.display-data .headings {
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

#display-email {
  color: #ff6f61;
}

.gradiant-text {
  background: linear-gradient(90deg, #ff6f61, #ffffff); /* pick your colors */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; /* Safari / Chrome */
  background-clip: text; /* Standard */
  font-weight: 600;
}

.display-data .headings p {
  padding: 0 7.5rem;
  font-size: 12px;
}

.display-data .ticket-container {
  background: url(assets/images/pattern-ticket.svg);
  background-size: contain;
  background-repeat: no-repeat;
  aspect-ratio: 16 / 9;
  max-width: 500px;
  padding: 1rem;
  margin: auto;
  position: relative;
}

.display-data .ticket-container.logo {
  margin-bottom: 5rem;
  font-size: 2.75rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.display-data .ticket-container .date {
  color: #908fa1;
  padding-left: 5.5rem;
  margin-bottom: 4rem;
  font-size: 14px;
}

.display-data .ticket-container .ticket-user {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.user-info {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.display-data .ticket-container .ticket-user img {
  width: 65px;
  border-radius: 0.75rem;
}

.display-data .ticket-container .ticket-user #display-name {
  font-size: 1.5rem;
  font-weight: 600;
}

.display-data .ticket-container .ticket-user .github-username {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.display-data .ticket-container .ticket-user .github-username img {
  width: 20px;
}

.display-data
  .ticket-container
  .ticket-user
  .github-username
  #display-username {
  font-size: 1.75rem;
  color: #908fa1;
  position: absolute;
  right: 5px;
  top: 36%;
  transform: rotate(90deg);
}

.lines-bg {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 70vh; /* always fit viewport */
  width: auto;
}

/* ===== MEDIA QUERIES ===== */

/* Tablets (<= 1024px) */
@media (max-width: 1024px) {
  .logo {
    width: 35%;
  }

  .form-group input {
    width: 23rem; /* shrink input width */
  }

  .display-data .headings p {
    padding: 0 4rem;
  }
  .circle-bg {
    top: -5%;
    left: 5%;
    width: 12%;
  }

  .circle-bottom-right {
    bottom: 25%;
    right: 25%;
    width: 8%;
  }

  .squiggly-bg {
    top: 10%;
    left: 90%;
    width: 20%;
  }

  .squiggly-bg-bottom {
    top: 54%;
    left: 25%;
    width: 50%;
  }

  .lines-bg {
    height: 50vh;
  }
}

/* Mobile (<= 768px) */
@media (max-width: 768px) {
  body {
    background-image: url('/assets/images/background-mobile.png'); /* use mobile bg if you have one */
  }

  .circle-bg {
    top: -3%;
    left: -4%;
    width: 19%;
  }

  .circle-bottom-right {
    bottom: 25%;
    right: 20%;
    width: 15%;
  }

  .squiggly-bg {
    top: 5%;
    left: 95%;
    width: 30%;
  }

  .squiggly-bg-bottom {
    top: 75%;
    left: 25%;
    width: 60%;
  }

  .lines-bg {
    height: 40vh;
  }

  .logo {
    width: 45%;
  }

  .form-group input {
    width: 23rem; /* full width on mobile */
  }

  .upload-box {
    height: 60px;
  }

  .display-data .headings p {
    padding: 0 2rem;
    font-size: 12px;
  }

  .display-data .ticket-container {
    max-width: 75%;
    aspect-ratio: auto; /* let it scale naturally */
  }

  .display-data .ticket-container .ticket-user {
    flex-direction: row;
    gap: 1rem;
  }

  .display-data .ticket-container .ticket-user #display-name {
    font-size: 1.2rem;
  }

  .display-data
    .ticket-container
    .ticket-user
    .github-username
    #display-username {
    position: static;
    transform: none;
    font-size: 1rem;
  }
}

/* Small phones (<= 480px) */
@media (max-width: 480px) {
  .circle-bottom-right {
    bottom: 35%;
    right: -10%;
    width: 25%;
  }

  .squiggly-bg-bottom {
    top: 95%;
    left: 25%;
    width: 60%;
  }

  .logo {
    width: 60%;
  }

  .head-text {
    font-size: 12px;
  }

  .form-group label {
    font-size: 10px;
  }

  .contact-button {
    font-size: 10px;
    padding: 8px;
  }

  .logo-full {
    width: 35%;
  }

  .head {
    font-size: 12px;
  }

  .display-data .headings p {
    padding: 0 2rem;
    font-size: 12px;
  }

  .display-data .ticket-container {
    max-width: 100%;
    aspect-ratio: auto; /* let it scale naturally */
  }

  .display-data .ticket-container .ticket-user {
    flex-direction: row;
    gap: 0.8rem;
  }

  .display-data .ticket-container .ticket-user #display-name {
    font-size: 12px;
  }

  .display-data
    .ticket-container
    .ticket-user
    .github-username
    #display-username {
    /* position: static; */
    transform: none;
    font-size: 1rem;
  }

  .display-data .logo1 {
    font-size: 16px;
    gap: 0.5rem;
    padding: 0;
  }

  .logo1 img {
    width: 10%;
  }

  .display-data .ticket-container .date {
    padding-left: 2rem;
    margin-bottom: 2rem;
    font-size: 10px;
  }

  .display-data .ticket-container .ticket-user img {
    width: 40px;
  }

  #display-github {
    font-size: 0.75rem;
  }

  .display-data .ticket-container .ticket-user .github-username img {
    width: 18px;
  }
  .display-data .ticket-container .ticket-user .github-username {
    gap: 0.25rem;
  }
}
